# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [46]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 25, size = (6, 4)), columns = ['A', 'B', 'C', 'D'])
print("Orginal DataFarme: ")
print(df)

df.set_index('A', inplace = True)
print("DataFrame with new index: ")
print(df)

Orginal DataFarme:
    A   B   C   D
0  16  15  12  20
1  10   1   1  16
2   2  14   3  15
3  17  23   2   1
4   6  20  21   9
5  20  12  21   4
DataFrame with new index:
     B   C   D
A
16  15  12  20
10   1   1  16
2   14   3  15
17  23   2   1
6   20  21   9
20  12  21   4

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [50]:
df = pd.DataFrame(np.random.randint(1, 10, size = (3, 3)), columns = ['A', 'B', 'C'], index = ['X', 'Y', 'Z'])
print("Orginal DataFrame: ")
print(df)

print("The required element: ", df.at['Y', 'B'])

Orginal DataFrame:
   A  B  C
X  3  9  9
Y  8  6  2
Z  8  3  4
The required element:  6

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [58]:
df = pd.DataFrame(np.random.randint(1, 10, size = (5, 3)), columns = ['A', 'B', 'C'])
print("The orginal DataFrame: ")
print(df)

df['D'] = df['A'] * df['B']
print("Modified DataFrame: ")
print(df)

The orginal DataFrame:
   A  B  C
0  4  7  8
1  5  2  4
2  3  6  1
3  1  7  3
4  9  1  2
Modified DataFrame:
   A  B  C   D
0  4  7  8  28
1  5  2  4  10
2  3  6  1  18
3  1  7  3   7
4  9  1  2   9

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [66]:
df = pd.DataFrame(np.random.randint(1, 10, size = (4, 3)), columns = ['A', 'B', 'C'], index = ['A', 'B', 'C', 'D'])
print("Orginal DataFrame: ")
print(df)

print("Row-wise sum:")
print(df.sum(axis = 1))
print("Column-wise sum:")
print(df.sum(axis = 0))

Orginal DataFrame:
   A  B  C
A  3  4  7
B  4  6  4
C  3  5  1
D  8  6  1
Row-wise sum:
A    14
B    14
C     9
D    15
dtype: int64
Column-wise sum:
A    18
B    21
C    13
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [74]:
df = pd.DataFrame(np.random.randint(1, 10, size = (5, 3)), columns = ['A', 'B', 'C'])
print("Orginal DataFrame: ")
print(df)

df.iloc[0, 1] = np.nan
df.iloc[1, 0] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[4, 2] = np.nan

print("DataFrame with NaN values: ")
print(df)

df.fillna(df.mean(), inplace = True)
print("DataFrame with NaN values filled: ")
print(df)

Orginal DataFrame:
   A  B  C
0  1  8  8
1  4  2  7
2  2  5  9
3  8  3  4
4  3  2  6
DataFrame with NaN values:
     A    B    C
0  1.0  NaN  8.0
1  NaN  2.0  7.0
2  2.0  5.0  9.0
3  NaN  3.0  4.0
4  3.0  2.0  NaN
DataFrame with NaN values filled:
     A    B    C
0  1.0  3.0  8.0
1  2.0  2.0  7.0
2  2.0  5.0  9.0
3  2.0  3.0  4.0
4  3.0  2.0  7.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [79]:
df = pd.DataFrame(np.random.randint(1, 10, size = (6, 4)), columns = ['A', 'B', 'C', 'D'])
print("Orginal DataFrame: ")
print(df)

df.iloc[0, 1] = np.nan
df.iloc[2, 3] = np.nan
df.iloc[4, 2] = np.nan
print("DataFrame with NaN values: ")
print(df)

df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Orginal DataFrame:
   A  B  C  D
0  4  2  3  1
1  3  5  5  9
2  9  9  4  9
3  4  9  2  7
4  5  5  2  3
5  6  6  8  5
DataFrame with NaN values:
   A    B    C    D
0  4  NaN  3.0  1.0
1  3  5.0  5.0  9.0
2  9  9.0  4.0  NaN
3  4  9.0  2.0  7.0
4  5  5.0  NaN  3.0
5  6  6.0  8.0  5.0
DataFrame with NaN values dropped:
   A    B    C    D
1  3  5.0  5.0  9.0
3  4  9.0  2.0  7.0
5  6  6.0  8.0  5.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.